html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 40px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.section-underline {
    width: 50px;
    height: 4px;
    background-color: #007bff;
    margin: 0 auto;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project-card {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image-link img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-title {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin-bottom: 20px;
    flex: 1;
    min-width: 200px;
}

.footer-description {
    margin: 10px 0;
    font-size: 1em;
}

.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icon {
    color: #ffffff;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #adb5bd;
}

.footer-bottom {
    font-size: 0.9em;
    color: #ced4da;
    margin-top: 20px;
}

.project-detail {
    margin-bottom: 40px; /* Space between projects */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 0;
}

.banner {
    background-image: url('/public/images/banner.jpg'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 400px 20px;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for text readability */
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
    margin: 0;
}